themes/mattschroeter/.cache-loader
themes/mattschroeter/dist
themes/mattschroeter/node_modules
themes/mattschroeter/npm-debug.log
themes/mattschroeter/yarn-error.log
themes/mattschroeter/vendor
themes/mattschroeter/resources/assets/config-local.json

/plugins
!plugins/advanced-custom-fields-pro

composer.lock
/uploads
/vendor

.DS_Store
debug.log
