html {
  box-sizing: border-box;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $black;
  -webkit-font-smoothing: antialiased;

  &:not(.has-hero) {
    margin-top: 3.25rem;
  }
}

h1,
.h1,
.content h1 {
  @extend %heading;

  font-size: $jumbo;
}

h2,
.h2,
.content h2 {
  @extend %heading;

  font-size: $xx-large;
}

h3,
.h3,
.content h3 {
  @extend %heading;

  font-size: $x-large;
}

h4,
.h4,
.content h4 {
  font-size: $large;
}

h5,
.h5,
.content h5 {
  font-size: $normal;
}

h6,
.h6,
.content h6 {
  font-size: $small;
}

p,
span,
a,
strong {
  letter-spacing: 0.8pt;
}

.skip-link {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: $large;
  font-size: $x-large;
  background: $white;
  z-index: 300;

  &:not(:focus) {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    left: -100%;
  }
}

.page-title {
  background: $pure-white;

  h1 {
    font-family: $primary-font;
    font-weight: bold;
    font-size: $x-jumbo;
  }

  h2 {
    font-family: $primary-font;
    letter-spacing: 1pt;
  }

  &:not(.with-intro) {
    background: $primary;
    background: linear-gradient(231deg, $primary, $dark, $light, $dark, $primary, $light);
    background-size: 600% 600%;
    animation: HeroGradient 30s ease infinite;

    h1 {
      color: $white;
      margin: 0;
    }
  }
}

.content {
  figure {
    margin-left: $xx-large;
    margin-right: $xx-large;
  }
}
