/** Colors */
$primary-brand:         #274595;
$light:                 #46b4e8;
$dark:                  #0e1d44;
$black:                 #030303;
$white:                 #f5f7f9;
$pure-white:            #fefefe;
$grey:                  #e3e3e3;
$link:                  $primary-brand;

/** Fonts **/
$primary-font: "Montserrat", sans-serif;
$secondary-font: "PT Serif", serif;

/** Type Scale Sizing **/
$x-jumbo:  2.488rem;
$jumbo:    2.047rem;
$xx-large: 1.728rem;
$x-large:  1.44rem;
$large:    1.2rem;
$normal:   1rem;
$small:    0.833rem;
$x-small:  0.694rem;
$xx-small: 0.579rem;

/** Box Model  */
$spacer: $jumbo;

/** Bulma Colors **/
$primary: $primary-brand;
$blue: $light;
$body-background-color: $white;
$family-sans-serif: $primary-font;
$white-ter: $pure-white;

/** Bulma Sizing/Spacing **/
$column-gap: $small;
$gap: 31.104px;
$size-1: 2.986rem;
$size-2: $x-jumbo;
$size-3: $jumbo;
$size-4: $x-large;
$size-5: $large;
$size-6: $normal;
$size-7: $small;
$block-spacing: $x-large;

/** Bulma Appearance **/
$easing: ease-in-out;
$speed: 0.2s;
$radius-small: 4px;
$radius: 8px;
$radius-large: 16px;
$hr-margin: $xx-large 0;
$body-font-size: $normal;
$section-padding: 2.986rem $x-large;

/** Bulma Navbar **/
$navbar-dropdown-radius: $radius-small;
$navbar-background-color: transparent;
$navbar-item-hover-background-color: transparent;

/** Bulma Footer **/
$footer-background-color: $dark;
$footer-color: $white;
$footer-padding: $x-jumbo $x-large;

/** Placehoders **/
%heading {
  font-family: $primary-font;
  font-weight: bold;
  letter-spacing: 1pt;
  text-shadow: 1px 1px 1px rgba($dark, 0.004);
  color: $dark;
}

/** Animations **/
@keyframes HeroGradient {
  0% {
    background-position: 0 4%;
  }

  50% {
    background-position: 100% 97%;
  }

  100% {
    background-position: 0 4%;
  }
}
