.hero {
  background: $primary;
  background: linear-gradient(231deg, $primary, $dark, $light, $dark, $primary, $light);
  background-size: 600% 600%;
  animation: HeroGradient 30s ease infinite;
  min-height: 500px;

  &-body {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &-background-text {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;

    span {
      font-family: "Abril Fatface", serif;
      font-size: 9.5rem;
      color: rgba($primary, 0.35);
      line-height: 0.8;

      &::after {
        content: "";
        display: block;
      }

      @media all and (max-width: 600px) {
        font-size: 8rem;
        line-height: 0.9;
      }
    }
  }

  .title {
    color: $white;
    text-align: center;
    margin-bottom: 0;
    margin-top: auto !important;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 900px;
    letter-spacing: 2.5pt;
    font-size: $jumbo;
    font-family: $primary-font;
    font-weight: bold;
    text-transform: uppercase;
  }

  .subtitle {
    color: $white;
    text-align: center;
    line-height: 1.5;
    margin-top: 1rem !important;
    margin-bottom: auto;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 900px;
  }

  @media screen and (max-width: 768px) {
    max-height: 400px;
  }
}

@keyframes HeroGradient {
  0% {
    background-position: 0 4%;
  }

  50% {
    background-position: 100% 97%;
  }

  100% {
    background-position: 0 4%;
  }
}
