.numbered-sequence {
  background-color: $white-ter;

  &__heading {
    text-align: center;
  }

  .sequence-item {
    &__number {
      .h1 {
        display: inline-block;
        margin-bottom: $x-small;
        color: $primary-brand;
        position: relative;
      }
    }
  }
}
