.banner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: $white;
  z-index: 100;
  transition: all 0.2s ease-in-out;

  .nav li {
    @extend .navbar-item;
  }

  .navbar {
    background: transparent;
    margin: 0 $x-small;
  }

  .navbar-brand {
    align-items: center;
  }

  .navbar-item {
    position: relative;
    padding: 0;
    margin: $xx-small $normal;
    color: $primary;
    transition: all 0.2s ease-in-out;

    &::after {
      content: "";
      width: 0;
      height: 2px;
      background: $primary;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: width 0.2s ease-in-out;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .navbar-burger {
    span {
      background-color: $primary;
    }
  }

  .brand {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-family: $primary-font;
    font-size: $large;
    color: $primary;
    height: 100%;
    transition: all 0.2s ease-in-out;

    svg {
      width: $xx-large;
      height: auto;
      margin-right: $xx-small;

      path {
        fill: $primary;
      }
    }

    .site-title {
      text-transform: uppercase;
      letter-spacing: -0.5pt;
    }
  }

  .nav-mobile {
    position: absolute;
    top: 100%;
    width: 100%;
    background: $pure-white;
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &.active {
      max-height: 100vh;
      overflow-y: scroll;
    }

    .navbar {
      &-menu {
        display: flex;
        flex-flow: column nowrap;
      }

      &-item {
        color: $primary !important;
        margin: 0;
        padding: $xx-small $normal;
      }
    }

    @media screen and (min-width: 1023px) {
      display: none;
    }
  }

  &.transparent {
    background: transparent;

    .navbar {
      &-item {
        color: $white;

        &:hover {
          background: transparent;
        }

        &::after {
          background: $white;
        }
      }

      &-burger {
        span {
          background-color: $white;
        }
      }
    }

    .brand {
      color: $white;

      svg {
        path {
          fill: $white;
        }
      }
    }
  }
}
